$ORIGIN fanat.home.
$TTL 3600

@           IN SOA   dns.fanat.home. dns.fanat.home. {{ ansible_facts['date_time']['epoch'] }} 108000 1800 120960 1D

            IN NS    localhost
fanat.home. IN NS    dns.fanat.home.
fanat.home. IN MX 10 dns.fanat.home.

; ====  Entries  =====
localhost            IN      A       127.0.0.1
dns                  IN      A       {{dns_ip}}
ns                   IN      A       {{dns_ip}}
fanat-ubuntu-test    IN      A       {{fanat_ubuntu_test_ip}}
home-assistant       IN      A       {{home_assistant_ip}}
proxmox              IN      A       {{proxmox_ip}}

