options {
    dnssec-validation auto;
    auth-nxdomain no;
    directory "/var/cache/bind";
    recursion yes;
    port 53;
    max-cache-size 241172480;

	listen-on     { {{local_network}}; };
    listen-on-v6 {
        none;
    };
    allow-transfer {
            none;
    };
    allow-query {
            any;
    };
    allow-recursion {
        lan-pool;
    };
};
