include "/etc/bind/named.conf.options";
//include "/etc/bind/named.conf.default-zones";
include "/etc/bind/log.conf";

acl "lan-pool" { 
    {{local_network}}; 
    };
view "lan-zone" {
        match-clients { lan-pool; };
        allow-query {
            lan-pool;
        };
        allow-update {
                none;
        };
        recursion yes;
        forwarders {
                192.168.1.1;
        };
        zone "fanat.home" {
            type master;
            file "/etc/bind/master-zones/fanat.home";
        };
};