127.0.1.1 {{ ansible_hostname }} {{ ansible_hostname }}
127.0.0.1 localhost

192.168.1.50 fanat-minio-0
192.168.1.51 fanat-minio-1
192.168.1.52 fanat-minio-2
192.168.1.53 fanat-minio-3

# The following lines are desirable for IPv6 capable hosts
::1 localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters