MINIO_ACCESS_KEY="minio"
MINIO_VOLUMES=/minio/
MINIO_OPTS="http://fanat-minio-0:9000/minio http://fanat-minio-1:9000/minio http://fanat-minio-2:9000/minio http://fanat-minio-3:9000/minio"
MINIO_SECRET_KEY="miniostorage"