127.0.1.1 {{ ansible_hostname }} {{ ansible_hostname }}
127.0.0.1 localhost

192.168.1.50  fanat-minio-0          fanat-minio-0.fanat.home
192.168.1.51  fanat-minio-1          fanat-minio-1.fanat.home
192.168.1.52  fanat-minio-2          fanat-minio-2.fanat.home
192.168.1.53  fanat-minio-3          fanat-minio-3.fanat.home
192.168.1.2   dns                    dns.fanat.home
192.168.1.77  fanat-test-ubuntu      fanat-test-ubuntu.fanat.home
192.168.1.29  fanat-home-assistant   fanat-home-assistant.fanat.home
192.168.1.138 fanat-fedora-hp        fanat-fedora-hp.fanat.home
192.168.1.175 proxmox                proxmox.fanat.home



# The following lines are desirable for IPv6 capable hosts
::1 localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters